
/* Formulario Contact */

.contact{
	background-image: url("../image/large.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.formulario{
	width: 60%;
	margin: 15% auto;
	background-color: white;
	border-top: 8px solid #73A1D9;
}
.formulario h3{
	border-bottom: 1px solid #B3B3B3;
	margin: 1% 10%;
	padding: 0% 0% 1%;
	font-family: Times New Roman;
}
form{
	margin: 0% 9%;
}
form .fila{
	margin: 2% 0%;
}
.formulario input, .formulario textarea{
	width: 70%;
}
.send button{
	display: block;
	border: none;
	border-radius: 5px;
	background-color:  #73A1D9;
	color: white;
	font-weight: bold;
	padding: 1% 2%;
	margin-left: 1.5%;
	font-size: 0.9em;
}
.send input{
	width: 45%;
	margin: 2% 0% 2% 10%;
}
.texto p{
	margin-bottom: 0;
}
.enlace{
	text-align: right;
}
.caja{
	padding: 0% 2%;
	font-family: Times New Roman;
}
.caja a{
	font-size: 0.9em;
}