*{
	font-family: 'Lato', sans-serif;
}
a:hover{
	text-decoration: none;
}
#menu.active{
	background-color: #2A3541;
}

/* -- Header --*/
header{
	position: fixed;
	z-index: 10;
	width: 100%;
}
.navbar{
	padding: 2%;
}
.navbar-default {
    background-color: transparent;
    border: none;
}
header a img{
	margin-top: 10px;
	width: 230px;
}
header nav a{
	font-size: 1.5em;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;
    background-color: white;
    border-radius: 5px;
}

/* Fondo Image - Section*/
.fondo{
	background-image: url("../image/large.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 88vh;
}
.opaco{
	background-color: rgba(63, 78, 91, 0.66);
	height: 100%;
}
.fondo h1{
	text-align: center;
	color: white;
	font-size: 3.3em;
	padding: 16% 22%;
}

/* Prueba Gratis*/
.prueba, .gratis{
	background-color: rgba(78, 126, 184, 0.83);
	color: white;
	width: 100%;
}
.prueba{
	padding: 2% 22%;
	position: absolute;
	bottom: 12%;
}
.prueba h2, .gratis h2{
	font-size: 2em;
}
.prueba p, .gratis p{
	font-size: 1.2em;
}
.prueba button, .gratis button{
	border-radius: 5px;
	font-size: 1.8em;
	padding: 2% 4%;
	background-color: transparent;
	border: 2px solid white; 
	margin-top: 25px;
}

/* Servicios - Section */
.servicio h1{
	text-align: center;
	color: #73A9FF;
	margin-top: 10%;
}
.servicio button{
	padding: 10%;
	border-radius: 50%;
	background-color: white;
	border: none;
	box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, 0.14);
}
.servicio button i{
	font-size: 3em;
	color: #73A9FF;
}
.caja{
	text-align: center;
	margin: 5% 0% 2%;
}
.caja p{
	color: #767676;
	padding: 0% 12%;
}
.caja h4{
	padding: 4%;
	color: #8099B2;
	line-height: 30px;
}
.separador, .flecha{
	position: relative;
	left: 46%;
}
.separador{
	top: 50px;
}

/* Ejemplo - row*/
.ejemplo{
	border-top: 1px solid #F4F4F4;
	padding: 8% 6% 6%;
}
.title{
	text-align: center;
	margin-bottom: 3%;
}
.ejemplo p{
	margin-bottom: 0;
	line-height: 25px;
}
.ejemplo a{
	font-size: 0.9em;
}
.logo{
	width: 280px;
	display: inline-block;
	padding-bottom: 2.5%;
}
.ejemplo h1, .usar h1{
	color: #73A9FF;
	display: inline;
}
.ejemplo .arrow{
	display: block;
	margin: auto;
}

/*Adquirir - Row*/
.adquirir{
	border-top: 1px solid #F4F4F4;
	border-bottom: 1px solid #F4F4F4;
}
.work{
	background-image: url("../image/sec-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
}
.adquirir h2{
	padding: 3% 8%;
}
.texto{
	padding: 3% 8%;
	line-height: 28px;
}
.texto p{
	margin-bottom: 0;
	font-size: 1.1em;
}
.texto p:nth-child(2){
	color: #73A9FF;
	font-size: 1.5em;
	margin-bottom: 6px;
}
.texto ul{
	padding-left: 15px;
}
.flecha{
	bottom: 55px;
}
.icon{
	position: absolute;
	font-size: 2.3em;
	color: white;
	display: block;
	border-radius: 50%;
	background-color: #50BDEA;
	padding: 2%;
	right: 96%;
}
.texto a.icon:nth-child(3){
	margin: 0;
}
.uno{
	margin: 6% 0%;
}

/* Por qué usar - Row */
.usar ul{
	margin: 3% 0%;
	line-height: 26px;
}
.usar p{
	line-height: 24px;
}
.banner{
	width: 100%;
}
.usar{
	padding: 0% 4%;
}
.gratis button{
	float: right;
}
.gratis{
	margin-top: 10%;
	padding: 2% 10%;
}

/* Footer */
footer{
	background-color: #2A3541;
	color: white;
	padding: 3%;
	line-height: 28px;
}
footer p{
	margin-bottom: 0;
}
.right a:hover{
	color: white;
}
.right{
	text-align: right;
}
.right a{
	font-size: 2.2em;
}
.right a:nth-child(2){
	margin-left: 5%;
	margin-right: 1%;
}